<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.stalker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".StockDetailActivity"
            android:label="@string/title_activity_stock_detail"
            android:theme="@style/NoActionBar">

        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StockLookupActivity"
            android:label="@string/title_favorite_Stocks">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewIndicatorInterfaceActivity"
            android:label="@string/title_custom_indicator_activity"
            android:theme="@style/NoActionBar">
        </activity>
        <activity
            android:name=".CustomIndicatorActivity"
            android:label="@string/title_new_indicator_activity"
            android:theme="@style/NoActionBar">
        </activity>
        <activity
            android:name=".SavedIndicatorActivity"
            android:label="@string/title_save_indicator_activity"
            android:theme="@style/NoActionBar">
        </activity>

    </application>

</manifest>